

.page-header {
    position: relative;
    background: center center / cover no-repeat;
    height: 350px;

    @include respond-to( $bp-m ) {
        height: 450px;
        background: right center / contain no-repeat;
    }

    .page-header-content {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        backdrop-filter: grayscale(100%);
        @include padding;

        background: $grey;
        background: linear-gradient( 90deg, rgba( $grey, 1 ) 0%, rgba( $grey, 1 ) 50%, rgba( $grey, .3 ) 100% );
        @include border-bottom( $grey, 2 );

        &.navy {
            background: $navy;
            background: linear-gradient( 90deg, rgba( $navy, 1 ) 0%, rgba( $navy, 1 ) 50%, rgba( $navy, .3 ) 100% );
            backdrop-filter: tint-filter( 'navy' );
            @include border-bottom( $navy-light, 2 );
        }

        &.teal {
            background: $teal;
            background: linear-gradient( 90deg, rgba( $teal, 1 ) 0%, rgba( $teal, 1 ) 50%, rgba( $teal, .3 ) 100% );
            backdrop-filter: tint-filter( 'teal' );
            @include border-bottom( $teal-light, 2 );
        }

        &.purple {
            background: $purple;
            background: linear-gradient( 90deg, rgba( $purple, 1 ) 0%, rgba( $purple, 1 ) 50%, rgba( $purple, .3 ) 100% );
            backdrop-filter: tint-filter( 'purple' );
            @include border-bottom( $purple-light, 2 );
        }

        &.green {
            background: $green;
            background: linear-gradient( 90deg, rgba( $green, 1 ) 0%, rgba( $green, 1 ) 50%, rgba( $green, .3 ) 100% );
            backdrop-filter: tint-filter( 'green' );
            @include border-bottom( $green-light, 2 );
        }

        .page-header-content-inner {
            flex: 1;
        }

        h1 {
            @include font-holtzman;
            font-weight: normal;
            font-size: 3.5em;
            line-height: 1.3em;
            text-transform: uppercase;
            color: white;

            @include respond-to( $bp-m ) {
                font-size: 4.5em;
            }

            @include respond-to( $bp-l ) {
                font-size: 6em;
            }

            @include respond-to( $bp-xl ) {
                font-size: 7em;
            }
        }
    }
}

