
.slides {
    transition: all 500ms ease-in-out;
    position: relative;
    height: 350px;
    
    @include respond-to( $bp-m ) { height: 400px; }
    @include respond-to( $bp-l ) { height: 450px; }
    @include respond-to( $bp-xl ) { height: 500px; }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 500ms ease-in-out;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 0;

        .slide-background {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: center center / cover no-repeat;
        }

        &.navy, &.purple, &.teal, &.green {
            background: white;

            .slide-content {
                h1, h2, h3 {
                    color: white;
                }

                h4, h5, h6 {
                    color: rgba( white, .7 );
                }    

                p {
                    color: rgba( white, .8 );
                }
            }
        }
        
        &.navy {
            background-color: $navy;

            .slide-background {
                @include tint( 'navy' );
            }

            .slide-content {
                background: linear-gradient( 90deg, rgba( $navy, .9 ) 0%, rgba( $navy, .7 ) 70%, rgba( $navy, 0 ) 100% );
            }
        }

        &.green {
            background-color: $green;

            .slide-background {
                @include tint( 'green' );
            }

            .slide-content {
                background: linear-gradient( 90deg, rgba( $green, .9 ) 0%, rgba( $green, .7 ) 70%, rgba( $green, 0 ) 100% );
            }
        }

        &.purple {
            background-color: $purple;

            .slide-background {
                @include tint( 'purple' );
            }

            .slide-content {
                background: linear-gradient( 90deg, rgba( $purple, .9 ) 0%, rgba( $purple, .7 ) 70%, rgba( $purple, 0 ) 100% );
            }
        }

        &.teal {
            background-color: $teal;

            .slide-background {
                @include tint( 'teal' );
            }

            .slide-content {
                background: linear-gradient( 90deg, rgba( $teal, .9 ) 0%, rgba( $teal, .7 ) 70%, rgba( $teal, 0 ) 100% );
            }
        }

        &.visible {
            z-index: 1;
            opacity: 1;
        }

        img {
            position: relative;
            visibility: hidden;
            z-index: 0;
            display: block;
        }

        .slide-content {
            position: absolute;
            z-index: 100;
            bottom: 0;
            right: 20%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 40px 40px 40px 50px;
        
            @include respond-to( $bp-s ) {
                right: 30%;
                padding: 40px 60px 40px 70px;
            }
        
            @include respond-to( $bp-m ) {
                right: 40%;
                padding: 40px 60px 40px 70px;
            }
        
            @include respond-to( $bp-xl ) {
                right: 45%;
                padding: 40px 60px 40px 90px;
            }

            .slide-content-inner {
                flex-basis: 100%;
            }

            .btn {
                margin-bottom: 5px;
            }

            h1, h2, h3 {
                @include font-holtzman;
                font-size: 2em;
                line-height: .85em;
                text-transform: uppercase;
                color: white;
                text-shadow: 0 0 20px rgba( black, .6 );

                @include respond-to( $bp-m ) {
                    font-size: 2.8em;
                }

                @include respond-to( $bp-l ) {
                    font-size: 3.6em;
                }

                @include respond-to( $bp-xl ) {
                    font-size: 4.3em;
                }
            }

            h4, h5, h6 {
                @include font-eveleth;
                color: rgba( $navy, .7 );
                padding: 8px 0;
                font-size: 1.2em;
                line-height: 1.2em;

                @include respond-to( $bp-m ) {
                    font-size: 1.4em;
                    padding: 12px 0;
                }
            }

            p {
                font-size: 1.1em;
                line-height: 1.2em;
                color: rgba( $navy, .8 );

                @include respond-to( $bp-l ) {
                    font-size: 1.3em;
                    line-height: 1.3em;
                }
            }
        }
    }

    .slides-nav a {
		position: absolute;
		top: 50%;
		cursor: pointer;
		text-indent: -300px;
		overflow: hidden;
		opacity: .7;
		color: black;
        z-index: 2;

        width: 25px;
    	height: 40px;
        margin-top: -20px;

        @include respond-to( $bp-l ) {
            width: 35px;
            height: 50px;
            margin-top: -25px;
        }

		&:hover {
			opacity: 1;
		}

		&.previous {
			background: transparent url(../img/slider-arrow-left.png) right center / contain no-repeat;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

            left: 5px;
            @include respond-to( $bp-l ) { left: 20px; }
		}

		&.next {
			background: transparent url(../img/slider-arrow-right.png) left center/ contain no-repeat;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			right: 5px;
            @include respond-to( $bp-l ) { right: 20px; }
		}
	}
}